:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #283593;
  --light-blue-color: #5f5fc4;
  --dark-blue-color: #001064;
  --dark-grey-color: #4c4c4c;
  --grey-color: #666666;
  --light-grey-color: #dddddd;
  --bright-grey-color: #fafafa;
  --orange-color: #f9623a;

  /* font-size */
  --font-large: 20px;
  --font-medium: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}
* {
  font-family: noto sans, malgun gothic, AppleGothic, dotum, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.tit {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px 0;
}
.tit h3 {
  margin: 0;
  margin-right: 10px;
}
table {
  width: 80%;
  border-top: 2px solid var(--blue-color);
  border-bottom: 1px solid var(--black-color);
}
tr:nth-child(1) {
  border-bottom: 1px solid var(--black-color);
}
tr {
  border-bottom: 1px solid var(--light-grey-color);
  height: 50px;
  text-align: center;
}
th:nth-child(1) {
  width: 10%;
}
th:nth-child(3) {
  width: 10%;
}
th:nth-child(4) {
  width: 10%;
}
th:nth-child(5) {
  width: 10%;
}

input[type="button"] {
  width: 100px;
  height: 40px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
}
