:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #283593;
  --light-blue-color: #5f5fc4;
  --dark-blue-color: #001064;
  --dark-grey-color: #4c4c4c;
  --grey-color: #666666;
  --light-grey-color: #dddddd;
  --bright-grey-color: #fafafa;
  --orange-color: #f9623a;

  /* font-size */
  --font-large: 20px;
  --font-medium: 18px;
  --font-small: 16px;
  --font-micro: 14px;
}

* {
  font-family: noto sans, malgun gothic, AppleGothic, dotum, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.desc {
  width: 60%;
}
p {
  color: var(--dark-grey-color);
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  width: 60%;
  border-top: 2px solid var(--black-color);
  border-bottom: 1px solid var(--grey-color);
  padding: 20px 0;
}
table {
  display: flex;
  justify-content: center;
}
td {
  height: 80px;
}
input[type="text"],
input[type="password"] {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(179, 178, 174, 0.5);
  border-radius: 5px;
  margin-left: 30px;
}
.icon {
  color: var(--orange-color);
}
input[type="button"] {
  width: 400px;
  height: 60px;
  margin-top: 30px;
  font-size: var(--font-large);
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 5px;
  border: none;
}
.btn {
  width: 60%;
}
